<div class="b-title row">
  <a href="#" class="btn-square ico-collapse-v js-collapse-block" title="Expand /Collapse"></a>

  <p class='title row'>
    <%= f.object.name %>
  </p>
  <%= f.select :kind, NoCms::Menus.menu_kinds.map{|name, _| [ I18n.t("no_cms.admin.menus.menus.kinds.#{name}"), name ]}, {}, class: 'block_layout_selector' %>


  <div class="mo">
    <a href="" class="ico-mini-delete"><%=t (".remove") %></a>
    <a href="" class="ico-mini-move-up"><%=t (".move_up") %></a>
    <a href="" class="ico-mini-move-down"><%=t (".move_down") %></a>
    <a href="" class="ico-mini-show-hide"><%=t (".hide") %></a>
  </div>
</div>
<div class='layout_fields'>
  <div class="row">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <%= render_menu_item_partial f %>
  <%= render 'no_cms/admin/menus/menu_items/nested_index', f: f %>
</div>

<%= f.hidden_field :position, class: 'position' %>
<%= f.hidden_field :draft,  class: 'draft', value: f.object.draft ? '1' : '0' %>
<%= f.hidden_field :_destroy,  class: 'destroy', value: '0' %>
