<div class="row has-children" id='content_blocks_placeholder'>
  <label><%= t('.title') %></label>

  <%= link_to t('.new_block'), '#', id: 'new_content_block', class: 'btn _m0' %>

  <%= f.fields_for :menu_items do |f_menu_item| %>
    <div class="block row <%= menu_item_form_classes(f_menu_item.object).join(" ")%>" id="<%= menu_item_form_id(f_menu_item.object) %>">
      <%= render 'no_cms/admin/menus/menu_items/form', f: f_menu_item %>
    </div>
  <% end %>
</div>
